language: node_js
install:
  - npm ci
script:
  # Test Git hooks in CI, to make sure script upgrades do not break them.
  - npm run prepare
  # Test commit message validation in CI.
  - git log -1 --pretty=%B >> latest.log && ./.git/hooks/commit-msg latest.log
  - npm run test:ci
  - npx commitlint-travis
  - if [ "$TRAVIS_SECURE_ENV_VARS" == true ]; then npx danger ci --verbose; fi
  - npm run report:package
  - wc -c build/source-map-explorer.html
after_success:
  - mv coverage/lcov-report build || true
  - cat ./coverage/lcov.info | npx coveralls
branches:
  except:
    - gh-pages
deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: build
    github_token: "$PAGES_GITHUB_API_TOKEN"
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: npx semantic-release
notifications:
  email: false
env:
  global:
    # Permissions: public_repo
    # travis encrypt --org DANGER_GITHUB_API_TOKEN=<value>
    - secure: "XvBV2kAtNCU7NnUfyYxF4/J8NKXbd91HSz5dBOoidzzpmJEcfqCOheVS8SJCtrb2iy2zrq+bWsxdsbclxpzNOmq2JLlYn5/t4Rg8sOhdP/RmBs0sts7z+9Ad4rb+oPHCLdW2tMxuSigx4CfU/2yvUswNCbmAqfb6fXrnN1QX4oHWoAVyIA+3p+nY4cUmauGv9jQUDXRlYhMTemdesYKeCptPMDGB9iVYAs89tTrFIdoID2VXK8IXgFG+oZrRunwvkm5srZSOWRfTtu2zCUo3T7sxInsvYw+Wu7Ivmbs5QIQzfG+gD22BSdhHGL+oPXf8xk8Y47t2kacMKTurr6yZgxQu0XxatStcM7x5hw+N26eo1NwL9zr/6j61kdvSptAxaYaNgK5OmXQPHyR4eFO91Dl2e8zMp6wJsdj51PCHc3g7ToDYJNmMxzJucAMODK8AC0FkTgYYD5ToIs+f0CR1ac50trwoo39ABdBFuqpgCJMC4fVfnziwi9kIEYcDa8o92rHUwELbdVFPeW+CV7pR75FX1MhGHBjy0jtjPYixi8X2eEM7ZhvOCZEMl76yb4b7+SqGP15r4JH6QL+Xj0dcd7pWvMWS/YXOCbsb/9+z1CEnPidmU68ypIapuL74jXBwBiCkzlFv5jFVtmxbLirNqi42jEhEbb2oaUga0p5A1ds="
    # Permissions: public_repo
    # travis encrypt --org PAGES_GITHUB_API_TOKEN=<value>
    - secure: "qvDPSHpPSJPkAHPGFf7f44kdT9JxKONFEULNvMzaTCv4wqOcqlYQj+aoK0vEB7oX2tGNd1CLBcVw7MkIHASTFhmtXWnNkwOu4A76UzwgmRzeze8VnjzbclARvoQGPIEz0U58ZfCYF8Qm0eW25nfb62unDJeYaoUFDk43x8jZ4PJmWat8FFxTRcEuOXmsKk5p13rY5V44sHFIZTRUVWGA/Mc/tGAJS+7glfkAOj4CZFzDlbk1Z3QbbktG6js6DBAUTELBINn4RuQd2RPKKfWXKf/6dp9HS9gKpIeTQBJ5xTSitJ5T7InlDyL1lXCHGCAt7qWeJq/AI5nNMZiht7ggVVsEF+swu9u8Xz/mWIbozBqDvLnItlrbvW8h1CSIrSV/lb6zU0ym8G80BYdKmARXOFKW3FpWJuCr6B2dTcU2zPr+P+DLZwFUBiCuyGdQGzXX//TYtbI368Nnz/BF3Bi4HMuL1PDihh9K2wmpZqc8AhsFS91SewZPguXyTxTm13nG3aya741kO4f+5YqgakansSe8IuW7H76xdhZ5O6wwyTwq6+9bXSuKEoDYSl37WwcVomZi5Ys5MaPcPKyuDOB4+r5ULmQGUoPXWL6LQ6vzaDJWitIC1u8e1OtBiIWgHHeg2dcEYZny33J+TJ/lk3didjZL5Zdhb3CoDqyZG7MhUcQ="
    # Permissions: public_repo
    # travis encrypt --org GH_TOKEN=<value>
    - secure: "HuICDlK4mCd59soqgdsSu35rbN7QQZOZrFWQRYzqYlVee9CDGKW0EZquFF3Bga4n0Ca4iweOdnkdLB4uqzBgtZGs9FFvbDD7+Cbsj6PlTencrE9gRQdyCTv7hargBQSKJljcZ7SbCNoMfsBeyjIdYe/fdmjdYVVcg7aSZZJx9aN0CVlwn93AzOXuX3ajCJLSgmqJS43vPkH+qMB++Xu2a8IVxXM7BOEfaQqLBzbQa2mqMy6UcDURZuC+IQWT2k+WNkpQZARvikiwB5ukQktI5nL0VJ7iXN7rykyrB6yK2n39P8lb70mcBC3pV7tqdCJtxm7GTQ85NwssRaNX7oZJXz029qgKJL1F1KrUpzHtJ6D2/q5ga5mzIbC5pwX3mr0wrof6lqSmSjh1ogGdowWNB/QqRgz6RQ+Y88rP7sM9MYc/oBaKlLCwppDVad1BqGjITJK3HLNijkXPap/JCem+t0rlDszbjwzzdjtiepOnMz/5cET06H3hQASZ3T+2bKGEc7TtRVykBQveukPl1008s15/JsDEiNODXlvVFkfQE3CXlQtA0k53uNI9Kql6YXhfEFrBaFStL4ybwE0b25USCDPDeER2Ovp1R9fOgupdcIf35wFUECrOLamEc59/naxJ2cWu2Vqe8wTiIpOKP4mgF2mim8Y98TzNTCZbbGRPPGc="
    # travis encrypt --org GIT_AUTHOR_NAME=<value>
    - secure: "e14y5ubcKbIa9ImebwgYTiXu5qc7aiWEPPnOK6m5MtViGA0H373ol7CEez1gJSt8ml1zQUCNSiGQ2obmp4UC6a/o+QA++ODbPI/wna0dZoMW/vBlvLRM3mc/UXX6ePz89NFr9b+osm/5H3p7TWhNz1Rvdxq2hEp7dbEaWmzpbM43e+bczBV4gHTVDElc3/At0apdBYACAzbafce9F4Hw3H0ir46/TGa1j9SAhuIj7WZZBqrEMHMtP9HL34pEeNq0DIP6/BHvWgwD8hgvh/fSvNLJxetPATF4W7s4RZFAO6g54hz1yM8HawfoJOlgt7e6jAU/om7YK+zdtkihx+ABgh3q3s2WQ0UcRKrCHKOLDfnGdm4/4+zX36a2AFXcwu7aWom3TuhOT68gIe8+2XQyGuwLMSXymUOCcJ9Q46VB1rBehbaOFeGPLcwfhriPg9QkfKb2cgFkth4sK2ux4rwsipUG9STZcVHKv56WqYmm4RndZbJnby4iunAg5IfeodpNwWRRCL/L8125zaEAPp8sfS24JPuSylgAVvq8yYKdwiyHN+HmOcSD6zSnXdPUviGFu3A+BVn8uzXems6PfcWoR6SbXh3YwhWyIfzasZUuSotphpKR5RU07f+kT9sAIKcdGFS0GOj6EmxiUCjl47dswBhMKPEubFIRwHTed9KlhQQ="
    # travis encrypt --org GIT_AUTHOR_EMAIL=<value>
    - secure: "h+lCSScVE4S6RdMhGX4RSRFy7xiQZioXLVFQnB79+DtxsIpTQJV+ug84aK+Wis7Q3ZfCbwCsdJRG8zkb+6Aw1sWy5Qvk5IFnbGVT5asLV3H6N45kJkaYDUiSLlXdAl9OKsx5yVmSMvnBlv/+IH6dgQpL6JH7fERPmKh9SfFaFjMxbZWb0FhMegvBrOXEaPr5DMmnC7x0xzMjX/0Khr8YkbXdSkFIO4d6gSe3a3pUJgG/fdpmPcbzyTkXm5jCpYeNU6obDx5ezjQ/NS83vVxLviVVTsKvBAVadVPV3JE8E5nHNnvkqNkts/2aELTPBiIh3hktdsWPLfeCcRvbvxEcCLGD4+AGfsbmKsZ+leKiy07RLQv3UxG7KyYlm30jHcazPH4ds8Y+93OhZca0Y0Y59uEsgxA1yqljvhACqTmhFBCEDPNQubYzGINWzqd/IZwO+vBFKzi+MKRyoRcaXFhx151FV3AlenjL+hm9xt6X+30/UYielRaRLfTONICHXI0tff8TKi6QMOm2lykJZjvKSaPy6LlGczbYbINY/MWZKp1cs34z9Y3fAtqpMd2Zkb4QokDr2ncOJyS934tZQ40Xeu6uBfbsGxfiKYcMntU2/eC0d0lINNL3mD2e+QbijZyIokhTP4XgEFMTcI51JiJmGuNfibOmlhtJO7QpPVFvb7M="
    # travis encrypt --org NPM_TOKEN=<value>
    - secure: "qAsG5ksMDIAXa84dqC3iTK/9YW00fxefbgy0R7acm8J8ape8B6HifuivVN4IR60y1Q8p/U1YJoW1xCPkiFT2YVhOlu7r6FDycOtDYbxBl+wqB8h1TmxaCYLmvXtyahqnbw3jv7HydxFLJXvU9yt+H345sju7Aepr6ASW+32PVPARlfoOyCE7OT+x5HvRTEP3EmE2v8cwLWGgNFtH5Kjxl0BHICkxP9h4HLBy5wu+TWEdE8xFpxFjoUAlemu5TbixgyJjn/QERLGlZKRO8iAGREFde13MmT/yClq7S5V+tft67j9sZL2xMCkuyTxZCMcxXQ+Jc1MkHkQx84j/ZQd5m2s6HhnSFFomY8d9sPGqxgez12CSZuy9GKVAQo2fzaGGNa5Nk6rbgDYlN6P2rBdTyk9BCqRcqx8dVOq7uTT0STxUS5M4ZB0KMessjl4CJuvbn5hlYCsD+udqLinbJqiadICVaUynBb23HkeOUp4Sw1R3Bzn4mpqameWzaut6Juzov/T1Nm/wEF0cMkeKfm53AC/Rt5sOanz5nRHARge67Os8nr2lZf0kCLO3y4cBlmdeLBWsxctshe6GTXBQJ7pkOSxafmyCdw5/Lniqhuk/Ibi3aUKTWrnPRa5LCOLXwHQ0QkYLdu7hIE6zGiV1+WzgfCgw8FYIt+lX0gw0SzhfaiY="
