body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

code {
  font-family:
    Monaco,
    Bitstream Vera Sans Mono,
    Lucida Console,
    Terminal,
    Consolas,
    Liberation Mono,
    DejaVu Sans Mono,
    Courier New,
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
