.page-header {
  margin-bottom: 5vh;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .page-header {
    text-align: left;
  }
}

.page-header > a {
  color: inherit;
  text-decoration: none;
}

.page-title {
  font-size: 3.5rem;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .page-title {
    font-size: 5rem;
  }
}

.page-description {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.page-description img {
  vertical-align: middle;
}
